{% extends 'base.html' %}

{% block content %}
    <h1>{{ question.question_text }}</h1>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

    {% if error_message %}
        <p class="alert alert-danger">{{ error.message }}</p>
    {% endif %}

    <form class="" action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="form-check">
                <input type="radio" name="choice" value="{{ choice.id }}" class="form-check-input" id="choice{{ forloop.counter }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </div>
        {% endfor %}
        <button type="submit" name="button" class="btn btn-success btn-lg btn-block mt-4">Vote</button>
    </form>
{% endblock %}
