{% extends 'base.html' %}

{% block content %}
    <h1>Poll Questions</h1>

    {% if latest_question_list %}
        {% for question in latest_question_list%}
            <div class="card-body">
                <p class="lead">{{ question.question_text }}</p>
                <a href="{% url 'detail' question.id %}" class="btn btn-primary">Details</a>
                <a href="{% url 'results' question.id %}" class="btn btn-primary">Results</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No polls available</p>
    {% endif %}
{% endblock %}
