{% extends 'base.html' %}

{% block content %}
<div class="home">
    {% include '_navbar.html' %}
    <div class="container">
        <h1>Add item</h1>

        <form class="mb-4" style="display: flex; flex-direction: column;" action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <input class="form-control-lg mb-2 add" type="text" name="task" value="" v-model="taskInput" />
            <button type="submit" name="submit" class="btn btn-primary" v-bind:disabled="taskInput.length < 1" >Submit</button>
        </form>

        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for task in tasks %}
                        {% if search_result in task.text %}
                        <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center">
                            <p style="margin: 0">{{ task.text }}</p>
                            <form class="" action="{% url 'home' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="delete" class="btn btn-sm btn-danger" value="{{ task.id }}">Delete</button>
                            </form>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
