<header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-links">
            <a class="navbar-brand" href="{% url 'category' %}">Home</a>
            <!-- <a class="navbar-brand" href="/weather">Weather</a> -->
        </div>

        <form class="form-inline" action="{% url 'category' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2 search" type="search" name="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-warning" type="submit">Search</button>
        </form>
    </nav>
</header>
