<footer class="bg-dark">
    <section>
        <h3>Contact</h3>

        <div class="">
            <p>38398202309</p>
            <p>email@email.com</p>
        </div>
        
        <nav>

            <ul>
                <li><a href="/">Social</a></li>
                <li><a href="/">Social</a></li>
                <li><a href="/">Social</a></li>
                <li><a href="/">Social</a></li>
                <li><a href="/">Social</a></li>
            </ul>
        </nav>
    </section>
    <p>Copyright</p>
</footer>
